* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#register, #login {
  margin: 20px;
}

#register label, #login label {
  color: chocolate;
}

#register h3, #login h3 {
  margin-bottom: 20px;
  color: cornflowerblue;
}

#register input, #login input {
  height: 30px;
  margin: 0 10px;
}

input[type="submit"] {
  width: 70px;
}